.board-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.player-title {
    padding: 20px;
    font-weight: 700;
}
.result-image {
    position: absolute;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 10px;
    width: 560px;
    height: 560px;
    background-color: rgba(238,238,238, .9);
    justify-content: center;
    z-index: 10;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 30px;
    font-weight: 700;

    &.win {
        background-image: url('../../../public/result-gifs/win.gif');

        &.alt {
            // alt image here
        }

    }

    &.loss {
        background-image: url('../../../public/result-gifs/lose.gif');

        &.alt {
            // alt image here
        }

    }

    &.draw {

        //draw image here

        &.alt {
            // alt image here
        }

    }

}