.button {
    background-color: #EEE;
    padding: 30px;
    max-width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}
.header {
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.game-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}
.view-btn {
    padding: 10px;
    background-color: rgb(246, 245, 245);
    width: 180px;
    margin-top: 20px;
    border-radius: 6px;
    text-align: left;
    cursor: pointer;
}
.board-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.player-title {
    padding: 20px;
    font-weight: 700;
}
.constrained-container {
    max-width: 650px;
    margin: auto;
    position: relative;
}
.result-image {
    position: absolute;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 10px;
    width: 560px;
    height: 560px;
    background-color: #EEE;
    opacity: .9;
    justify-content: center;
    z-index: 10;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 30px;
    font-weight: 700;
}
.result-image.win {
    background-image: url('../../frontend/public/result-gifs/win.gif');
}
.result-image.loss {
    background-image: url('../../frontend/public/result-gifs/lose.gif');
}